body, html{
height: 100%;
margin: 0;
}



.red-div{
  /*position: absolute;*/
  background-image: url("https://i.paste.pics/5D9OL.png");
  height: 75vh;
  position: relative;
  z-index: 1;
}

.orange-div{
  /*position: absolute;*/
  background-color: orange;
  height: 75vh;
  position: relative;
  z-index: 1;
}

.yellow-div{
  /*position: absolute;*/
  background-color: yellow;
  height: 75vh;
  position: relative;
  z-index: 1;
}

.green-div{
  /*position: absolute;*/
  background-color: green;
  height: 75vh;
  position: relative;
  z-index: 1;
}

.blue-div{
  /*position: absolute;*/
  background-color: blue;
  height: 75vh;
  position: relative;
  z-index: 1;
}

.indigo-div{
  /*position: absolute;*/
  background-color: indigo;
  height: 75vh;
  position: relative;
  z-index: 1;
}

.violet-div{
  /*position: absolute;*/
  background-color: violet;
  height: 75vh;
  position: relative;
  z-index: 1;
}
.parallax{
  position: relative;
  z-index: 0;
  height: 100%;
  background-color: #181f2f;
  background-image: url("https://i.paste.pics/5BE6V.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -150px;
  left: 0px;
}
